@using EPiServer.Shell
@using Tuohy.Epi.ContentTypesInUse.Controllers
@model Tuohy.Epi.ContentTypesInUse.Models.ContentTypeGroups
@{
    Layout = "";
}
<div class="in-use">
    <div>
        <h2>Pages</h2>
        <ul>
            @foreach (var p in Model.Pages)
            {
                <li>
                    <div class="content-type">
                        @using (Html.BeginGadgetForm("GetLinks"))
                        {
                            <input type="hidden" name="id" value="@p.ContentTypeId" /><span>@p.Count</span>
                            <input type="submit" value="@p.ContentTypeName" />
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
    <div>
        <h2>Blocks</h2>
        <ul>
            @foreach (var p in Model.Blocks)
            {
                <li>
                    <div class="content-type">
                        @using (Html.BeginGadgetForm("GetLinks"))
                        {
                            <input type="hidden" name="id" value="@p.ContentTypeId" /><span>@p.Count</span>
                            <input type="submit" value="@p.ContentTypeName" />
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</div>