@using EPiServer.Shell
@using Tuohy.Epi.Docs.Controllers
@model Tuohy.Epi.Docs.Models.ViewModels.JobViewModel
@{
    Layout = "~/modules/Tuohy.Epi.Docs/Views/Shared/Layouts/_DocumentationLayoutPage.cshtml";
}
@{
    var logoUrl = Model.PageDesign != null && !string.IsNullOrWhiteSpace(Model.PageDesign.LogoUrl)
            ? Model.PageDesign.LogoUrl :
            Paths.ToClientResource(typeof(DocumentationController), "ClientResources/images/dt-logo.png");
    if (Model.PageDesign != null)
    {
        if (!string.IsNullOrWhiteSpace(Model.PageDesign.PriamryColour))
        {
            <style type="text/css">
                .primary-colour {
                    background-color: @Model.PageDesign.PriamryColour
                }
            </style>
        }
        if (!string.IsNullOrWhiteSpace(Model.PageDesign.SecondaryColour))
        {
            <style type="text/css">
                .secondary-colour {
                    background-color: @Model.PageDesign.SecondaryColour
                }
                .heading {
                    border-bottom: 5px solid @Model.PageDesign.SecondaryColour;
                }
            </style>
        }
        if (!string.IsNullOrWhiteSpace(Model.PageDesign.TextColour))
        {
            <style type="text/css">
                .text-colour *{
                    color: @Model.PageDesign.TextColour
                }
            </style>
        }
    }
}

<ul id="slide-out" class="side-nav fixed content-types">
    <li class="logo">
        <a id="logo-container" href="." class="brand-logo">
            <img id="front-page-logo" src="@logoUrl" alt="Logo" />
        </a>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Pages<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        @if (Model.Pages != null)
                        {
                            foreach (var page in Model.Pages)
                            {
                                <li><a class="content-type" href="@Paths.ToResource(typeof(DocumentationController), "documentation?id=" + page.Key)">@page.Value</a></li>
                            }
                        }
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Blocks<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        @if (Model.Blocks != null)
                        {
                            foreach (var block in Model.Blocks)
                            {
                                <li><a class="content-type" href="@Paths.ToResource(typeof(DocumentationController), "documentation?id=" + block.Key)">@block.Value</a></li>
                            }
                        }
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Media<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        @if (Model.Media != null)
                        {
                            foreach (var media in Model.Media)
                            {
                                <li><a class="content-type" href="@Paths.ToResource(typeof(DocumentationController), "documentation?id=" + media.Key)">@media.Value</a></li>
                            }
                        }
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Jobs<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        @if (Model.Jobs != null)
                        {
                            foreach (var job in Model.Jobs)
                            {
                                <li><a class="content-type" href="@Paths.ToResource(typeof(DocumentationController), "documentation/job?id=" + job.Key)">@job.Value</a></li>
                            }
                        }
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>
<main>
    @if (Model.FocusedJobDoc != null)
    {
        <div class="heading primary-colour text-colour">
            <h1>@Model.FocusedJobDoc.Name</h1>
        </div>
        <div class="doc-container">
            <p class="flow-text">@Model.FocusedJobDoc.Description</p>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Properties</h4></li>
                <li class="collection-item expanded">
                    <div>
                        <div class="property">
                            <span class="name">Interval:</span>
                            <span class="value">@Model.FocusedJobDoc.IntervalName</span>
                        </div>
                        <div class="property">
                            <span class="name">Times:</span>
                            <span class="value">@Model.FocusedJobDoc.IntervalLength</span>
                        </div>
                        <div class="property">
                            <span class="name">Active:</span>
                            <span class="value">@Model.FocusedJobDoc.IsActive</span>
                        </div>
                        <div class="property">
                            <span class="name">Stoppable:</span>
                            <span class="value">@Model.FocusedJobDoc.IsStoppable</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    }
</main>
