@using EPiServer.Shell
@using Tuohy.Epi.ContentTypesInUse.Controllers
@model Tuohy.Epi.ContentTypesInUse.Models.LinksViewModel
@{
    Layout = "";
}
<div class="in-use">
    @using (Html.BeginGadgetForm("Index"))
    {
        <input type="submit" value="Back to list" />
    }
    <input type="hidden" value="@Model.PageNumber" id="pageNumber" />
    <input type="hidden" value="@Model.ContentTypeId" id="id" />
    <h2>@Model.ContentTypeName</h2>
    <ul>
        @if (Model.Links != null && Model.Links.Any())
        {
            foreach (var link in Model.Links)
            {
                <li>
                    @{
                        var text = string.IsNullOrWhiteSpace(link.LinkText) ? link.EditUrl : link.LinkText;
                    }
                    <a title="Go to edit page" href="@link.EditUrl">@text</a>@*@if (friendlyUrl != null)
                        {<a title="View page" href="@link.LinkText" target="_blank"><img src="@Paths.ToResource(typeof(InUseController), "ClientResources/images/open-in-new-tab.svg")" /></a>}*@
                </li>
            }
        }
    </ul>
    <div class="paging">
        @{

            if (Model.PageNumber > 0)
            {
                using (Html.BeginGadgetForm("GetLinks"))
                {
                    <input type="hidden" name="id" value="@Model.ContentTypeId" />
                    <input type="hidden" name="page" value="@(Model.PageNumber - 1)" />
                    <input type="submit" value="<" />
                }


            }
            using (Html.BeginGadgetForm("GetLinks"))
            {
                <input type="hidden" name="id" value="@Model.ContentTypeId" />
                <input type="hidden" name="page" value="@(Model.PageNumber + 1)" />
                <input type="submit" value=">" />
            }
        }
    </div>
</div>