@using EPiServer.Shell
@using Tuohy.Epi.Docs.Controllers
@model Tuohy.Epi.Docs.Models.ViewModels.JobViewModel
@{
    Layout = "~/modules/Tuohy.Epi.Docs/Views/Shared/Layouts/_DocumentationLayoutPage.cshtml";
}
@if (Model.IsEditMode)
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.3/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "image link textcolor colorpicker directionality table code",
            default_link_target: "_blank"
        });
    </script>
}
<main>
    @if (Model.FocusedJobDoc != null)
    {
        <div class="heading primary-colour text-colour">
            <h1>@Model.FocusedJobDoc.Name</h1>
            @if (Model.CanEdit)
            {
                if (!Model.IsEditMode)
                {
                    <a class="btn-floating btn-large right secondary-colour text-colour" href="@Paths.ToResource(typeof(DocumentationController), "documentation/job?edit=1&id=" + Model.FocusedContentTypeId)"><i class="small material-icons">mode_edit</i></a>
                }
            }
        </div>
        <div class="doc-container">
            <p class="flow-text">@Model.FocusedJobDoc.Description</p>
            @if (Model.IsEditMode)
            {
                <form action="@Url.Action("SaveJob", "Documentation")">
                    <input type="hidden" name="contentTypeId" id="jobId" value="@Model.FocusedContentTypeId" />
                    <textarea name="markup" id="markup">@Html.Raw(Model.CustomDocumentation)</textarea>
                    <button class="btn-floating btn-large right secondary-colour text-colour"><i class="material-icons small">done</i></button>
                </form>
            }
            else
            {
                <div class="custom-documentation">
                    @Html.Raw(Model.CustomDocumentation)
                </div>
            }
            <div class="row">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Properties</h4></li>
                    <li class="collection-item expanded">
                        <div>
                            <div class="property">
                                <span class="name">Interval:</span>
                                <span class="value">@Model.FocusedJobDoc.IntervalName</span>
                            </div>
                            <div class="property">
                                <span class="name">Times:</span>
                                <span class="value">@Model.FocusedJobDoc.IntervalLength</span>
                            </div>
                            <div class="property">
                                <span class="name">Active:</span>
                                <span class="value">@Model.FocusedJobDoc.IsActive</span>
                            </div>
                            <div class="property">
                                <span class="name">Stoppable:</span>
                                <span class="value">@Model.FocusedJobDoc.IsStoppable</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }
</main>
